html
  body
    .container.homepage-content
      .homepage-box
        div
          p
            | As pessoas sem imaginação podem ter tido as mais imprevistas aventuras, podem ter visitado as terras mais estranhas. Nadas lhes ficou. Nada lhes sobrou. Uma vida não basta apenas ser vivida: também precisa ser sonhada.
          
            | (Mario Quintana)
        a.btn.btn-lg.btn-block(href='/gerarFicha') Vamos começar!
